# build/editor artifacts
temp
build
cache
/out
/logs
/editor

# original game data
src
raw
/audio/**/*.*
!/audio/**/*.xml
/image/**/*.*
!/image/**/*.xml

mod.cfg
# modified game data (for multimedia which doesn't use src/patch directories)
# (put overrides here, e.g. `!/sprite/npc/src/80` if you've changed bowser)

# Altered Backgrounds
!/image/bg/arn_bg.png
!/image/bg/fla_bg.png
!/image/bg/flb_bg.png
!/image/bg/hos_bg.png
!/image/bg/iwa_bg.png
!/image/bg/jan_bg.png
!/image/bg/kmr_bg.png
!/image/bg/kpa_bg.png
!/image/bg/nok_bg.png
!/image/bg/obk_bg.png
!/image/bg/omo_bg.png

# Altered Music
!/audio/bgm/01_118.bgm
!/audio/bgm/0D_184.bgm
!/audio/bgm/30_103.bgm
!/audio/bgm/31_105.bgm
!/audio/bgm/32_106.bgm
!/audio/bgm/33_107.bgm
!/audio/bgm/38_109.bgm
!/audio/bgm/36_827.bgm
!/audio/bgm/10_135.bgm
!/audio/bgm/00_117.bgm
!/audio/bgm/37_202.bgm
!/audio/bgm/34_110.bgm
!/audio/bgm/35_111.bgm
!/audio/bgm/0E_187.bgm

# Altered Textures
!/image/texture/ast_tex.txa
!/image/texture/ast_tex/*.*
!/image/texture/sta_tex.txa
!/image/texture/sta_tex/*.*