# build/editor artifacts
temp
build
cache
/out
/logs
/editor

# original game data
src
raw
/audio/**/*.*
!/audio/**/*.xml
/image/**/*.*
!/image/**/*.xml

mod.cfg
# modified game data (for multimedia which doesn't use src/patch directories)
# (put overrides here, e.g. `!/sprite/npc/src/80` if you've changed bowser)

# Altered Backgrounds
!/image/bg/arn_bg.png
!/image/bg/fla_bg.png
!/image/bg/flb_bg.png
!/image/bg/hos_bg.png
!/image/bg/iwa_bg.png
!/image/bg/jan_bg.png
!/image/bg/kmr_bg.png
!/image/bg/kpa_bg.png
!/image/bg/nok_bg.png
!/image/bg/obk_bg.png
!/image/bg/omo_bg.png
!/image/bg/star_bg.png
!/image/bg/title_bg.png
!/image/compressed/title_1.png
!/image/compressed/title_3.png

# Altered Music
!/audio/bgm/01_118.bgm
!/audio/bgm/0D_184.bgm
!/audio/bgm/30_103.bgm
!/audio/bgm/31_105.bgm
!/audio/bgm/32_106.bgm
!/audio/bgm/33_107.bgm
!/audio/bgm/38_109.bgm
!/audio/bgm/36_827.bgm
!/audio/bgm/10_135.bgm
!/audio/bgm/00_117.bgm
!/audio/bgm/37_202.bgm
!/audio/bgm/34_110.bgm
!/audio/bgm/35_111.bgm
!/audio/bgm/0E_187.bgm
!/audio/bgm/39_113.bgm
!/audio/bgm/3A_114.bgm
!/audio/bgm/3B_141.bgm
!/audio/bgm/3C_203.bgm
!/audio/bgm/3D_115.bgm
!/audio/bgm/3E_116.bgm
!/audio/bgm/3F_838.bgm
!/audio/bgm/41_291.bgm
!/audio/bgm/4B_137.bgm
!/audio/bgm/4C_138.bgm
!/audio/bgm/02_191.bgm
!/audio/bgm/03_120.bgm
!/audio/bgm/04_119.bgm
!/audio/bgm/49_139.bgm

# Altered Textures
!/image/texture/ast_tex.txa
!/image/texture/ast_tex/*.*
!/image/texture/sta_tex.txa
!/image/texture/sta_tex/*.*
!/image/texture/und_tex.txa
!/image/texture/und_tex/*.*